@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 61.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  font-family: "Raleway";
  font-weight: 800;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
  border-radius: 5px;
  min-height: 40px;
  text-transform: uppercase;
  color: #FCFDFE;
  letter-spacing: 0.14em;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

.button_blue {
  background-color: #4285F4;
}

.button_red {
  background-color: #EC5863;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=__big-container] {
  max-width: 66.0625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 15px;
}

.title-block *:last-child {
  margin-bottom: 0rem;
}

.title-block__title {
  font-weight: 700;
  font-size: 2.75rem;
  color: #000;
  line-height: 126%;
  margin: 0rem 0rem 0.75rem 0rem;
}

.title-block__title span {
  color: #EC5863;
}

.title-block__title_blue span {
  color: #4285F4;
}

.title-block__text {
  line-height: 138.5%;
  letter-spacing: 0.08em;
  margin: 0rem 0rem 1.5rem 0rem;
}

.title-block__text_mw {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.title-block__button {
  margin: 0rem 0rem 0.9375rem 0rem;
}

.video-family {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-family__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}

.video-family__body {
  padding: 0rem 0rem 0rem 0.75rem;
}

.video-family__text {
  line-height: 126%;
  letter-spacing: 0.08em;
  font-size: 0.8125rem;
  color: #B0B0B0;
}

.video-family__text:not(:last-child) {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.video-family__watch {
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  font-size: 0.5625rem;
  color: #000;
}

.media {
  display: inline-block;
  padding: 57px 40px 27px 70px;
}

.media__image {
  position: relative;
}

.media__image img {
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  max-width: 100%;
  position: relative;
  z-index: 3;
}

.media__image::before {
  content: "";
  position: absolute;
  bottom: -2.6%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  height: 1.6875rem;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
  z-index: 2;
}

.media__decor {
  background-color: #EC5863;
  border-radius: 30px;
  position: absolute;
  width: 4.8125rem;
  height: 4.8125rem;
}

.media__decor_01 {
  bottom: 80px;
  right: -40px;
}

.media__decor_02 {
  bottom: -27px;
  left: -40px;
}

.media__decor_03 {
  width: 9.1875rem;
  height: 9.1875rem;
  top: -56px;
  left: -70px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__big-container {
  min-height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__icon {
  margin: 0rem 0rem 0rem 1.25rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.menu__item {
  margin: 0rem 2.5rem 0rem 0rem;
}

.menu__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 2.8125rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px 50px;
}

.footer__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 165px;
          flex: 0 0 165px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link img {
  max-width: 100%;
}

.family {
  background-color: #FAFBFD;
}

.family__big-container {
  padding-top: 9.375rem;
  padding-bottom: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.family__big-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 267px;
  background-color: #EC5863;
  height: 100%;
  width: 100vw;
  border-radius: 30px 0px 0px 30px;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

.family__big-container *:last-child {
  margin-bottom: 0;
}

.family__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0rem 1.25rem;
}

.family__content *:last-child {
  margin-bottom: 0rem;
}

.family__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.family__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  position: relative;
  z-index: 2;
}

.family__image img {
  max-width: 100%;
}

.safe {
  padding: 8.125rem 0;
}

.safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.safe__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  text-align: center;
}

.safe__block-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0rem 7.1875rem 0rem 0rem;
  position: relative;
  z-index: 5;
}

.experts {
  background-color: #FAFBFD;
  padding: 6.4375rem 0rem 7.25rem 0rem;
}

.experts__stat {
  margin: 0 auto 5rem auto;
  position: relative;
}

.experts__decor {
  background: #EC5863;
  border-radius: 30px;
  position: absolute;
}

.experts__decor_01 {
  border-radius: 16px;
  bottom: -15px;
  left: -20px;
  width: 65.75px;
  height: 65.75px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.experts__decor_02 {
  width: 96.96px;
  height: 96.96px;
  left: 50%;
  top: -40px;
  -webkit-transform: translate(-50%, 0px) rotate(105deg);
      -ms-transform: translate(-50%, 0px) rotate(105deg);
          transform: translate(-50%, 0px) rotate(105deg);
}

.experts__decor_03 {
  width: 127.47px;
  height: 127.47px;
  right: -60px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-30deg);
      -ms-transform: translate(0, -50%) rotate(-30deg);
          transform: translate(0, -50%) rotate(-30deg);
}

.experts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.experts__block-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 393px;
}

.experts__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  padding-bottom: 28.687%;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
}

.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-stats {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  padding: 1.75rem 5rem;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 20px;
}

.block-stats__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.block-stats__num {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1944444444;
  letter-spacing: 0.14em;
  color: #EC5863;
  margin: 0rem 0rem 0.3125rem 0rem;
}

.block-stats__text {
  letter-spacing: 0.37em;
  text-transform: uppercase;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  color: #000;
  font-weight: 700;
}

.healthcare {
  padding: 5rem 0rem;
}

.healthcare__block-title {
  text-align: center;
  margin: 0rem 0rem 2.875rem 0rem;
}

.healthcare__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -2.25rem;
  row-gap: 30px;
}

.healthcare__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 2.25rem;
  position: relative;
}

.healthcare__item_01::before,
.healthcare__item_01::after {
  content: "";
  position: absolute;
  background-color: #EC5863;
}

.healthcare__item_01::before {
  bottom: -30px;
  left: 20px;
  width: 65.75px;
  height: 65.75px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
}

.healthcare__item_01::after {
  top: 30px;
  right: -10px;
  width: 96.96px;
  height: 96.96px;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  border-radius: 30px;
}

.healthcare__item_02::after {
  content: "";
  position: absolute;
  right: -38px;
  bottom: -25px;
  width: 127.47px;
  height: 127.47px;
  background-color: #EC5863;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.healthcare__item_03::after {
  content: "";
  position: absolute;
  top: -35px;
  right: 15px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 65.75px;
  height: 65.75px;
  background-color: #EC5863;
}

.item-health {
  text-align: center;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  background-color: #fff;
  position: relative;
  z-index: 2;
  border-radius: 8px;
  padding: 2.3125rem 1.125rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-health *:last-child {
  margin-bottom: 0rem;
}

.item-health__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0rem auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 73px;
          flex: 0 0 73px;
}

@supports (margin-bottom: clamp( 0.9375rem , -0.2910714286rem  +  6.1428571429vw , 3.625rem )) {
  .item-health__icon {
    margin-bottom: clamp( 0.9375rem , -0.2910714286rem  +  6.1428571429vw , 3.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.2910714286rem  +  6.1428571429vw , 3.625rem )) {
  .item-health__icon {
    margin-bottom: calc(0.9375rem + 2.6875 * (100vw - 20rem) / 43.75);
  }
}

.item-health__icon img {
  max-width: 100%;
}

.item-health__title {
  color: #000;
  letter-spacing: 0.08em;
  font-weight: 700;
  line-height: 138.5%;
  font-size: 1rem;
  margin: 0rem 0rem 0.25rem 0rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-health__text {
  letter-spacing: 0.08em;
  line-height: 138.5%;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .family__block-title {
    max-width: 410px;
  }

  .family__video {
    padding: 3.75rem 0rem 0rem 1.25rem;
  }

  .experts__stat {
    max-width: 654px;
  }

  .experts__block-title {
    padding: 0rem 1.25rem 0rem 0rem;
  }
}

@media (max-width: 63.75em) {
  .safe__block-title {
    padding: 0rem 0rem 0rem 0rem;
  }
}

@media (max-width: 61.99875em) {
  .header__big-container {
    min-height: 80px;
  }

  .header__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }

  .menu__item {
    margin: 0rem 1.875rem 0rem 0rem;
  }

  .family__big-container::before {
    right: 185px;
  }

  .safe {
    padding: 1.875rem 0;
  }

  .healthcare__items {
    margin: 0px -0.9375rem;
  }

  .healthcare__item_01::before {
    bottom: -20px;
    left: 0;
  }

  .healthcare__item_03::after {
    right: -5px;
  }

  .healthcare__item {
    padding: 0 0.9375rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 47.99875em) {
  .button {
    padding: 0px 15px;
  }

  .title-block__text {
    margin: 0rem 0rem 0.9375rem 0rem;
  }

  .header__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .menu__body {
    background-color: rgb(250, 251, 253);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    text-align: center;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 5.625rem 1.875rem 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 80px;
    background-color: rgb(250, 251, 253);
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item {
    margin: 0rem 0rem 1.25rem 0rem;
  }

  .menu__item:last-child {
    margin-bottom: 0rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .family__big-container::before {
    display: none;
  }

  .family__big-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5.625rem;
    padding-bottom: 1.875rem;
  }

  .family__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
    margin: 0rem 0rem 1.25rem 0rem;
  }

  .family__video {
    margin: 0rem 0rem 0.9375rem 0rem;
  }

  .family__image {
    margin: 0rem 0rem 1.5625rem 0rem;
  }

  .safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .safe__block-title {
    margin: 0rem 0rem 1.875rem 0rem;
  }

  .experts {
    padding: 4.375rem 0rem 2.5rem 0rem;
  }

  .experts__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .experts__block-title {
    margin: 0rem 0rem 1.25rem 0rem;
  }

  .experts__video {
    padding-bottom: 58%;
  }

  .block-stats {
    padding: 1.75rem;
  }

  .healthcare {
    padding: 1.875rem 0rem;
  }

  .healthcare__block-title {
    margin: 0rem 0rem 1.5625rem 0rem;
  }
}

@media (max-width: 29.99875em) {
  .title-block__title {
    font-size: 2.25rem;
  }

  .media {
    padding: 37px 40px 27px 50px;
  }

  .media__decor_03 {
    width: 6.25rem;
    height: 6.25rem;
    top: -36px;
    left: -50px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }

  .footer {
    padding: 0.9375rem 0;
  }

  .family__big-container {
    padding-bottom: 0.9375rem;
  }

  .family__image {
    margin: 0rem 0rem 0.9375rem 0rem;
  }

  .safe {
    padding: 0.9375rem 0;
  }

  .experts {
    padding: 4.375rem 0rem 0.9375rem 0rem;
  }

  .experts__stat {
    margin: 0rem 0rem 3.125rem 0rem;
  }

  .healthcare {
    padding: 0.9375rem 0rem;
  }

  .healthcare__items {
    row-gap: 15px;
  }

  .healthcare__item_03::after {
    top: -15px;
    left: 0;
  }

  .healthcare__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (any-hover: hover) {
  .button_blue:hover {
    background-color: #4982dd;
  }

  .button_red:hover {
    background-color: #e0545e;
  }

  .menu__link:hover {
    color: #EC5863;
  }
}